.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Navbar-nav{
  display: flex;
  align-items: center;
  width: 100%;
  height: 75px;
  background-color: red;
}

.Navbar-nav .list{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav ul{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
} 

.grid{
  background-image: url('https://thumbs.dreamstime.com/z/fashion-clothing-store-21951761.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
  height: 500px;
  display: grid;
}

img{
  
}


.flex{
  display: flex;
  justify-content: end;
  margin-top: 152px;
  margin-right: 5px;
}

.image img{
  height: 300px;
}

.butt{
  margin-right: 35%;
  
}

.butt1{
  background-color: green;
  color: whitesmoke;
  height: 50px;
  margin-right: 5px;
  border: limegreen;
  border-radius: 5px;
  font-weight: bold;
  padding: 10px 5px;
}

.butt2{
  background-color: maroon;
  color: whitesmoke;
  height: 50px;
  border: maroon;
  border-radius: 5px;
  font-weight: bold;
  padding: 10px 5px;
}

.butt1:hover{
  background-color: blue;
  color: whitesmoke;
  font-weight: bold;
}

.butt2:hover{
  background-color: whitesmoke;
  color: goldenrod;
  font-weight: bold;
}


.map{
  margin-top: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
